<div class="container login-screen" id="loginView" ng-controller="loginCtrl">

  <div class="login-icon">
    <img src="images/icon.png" alt="Welcome to Freader">
    <h4>Welcome to <small>Freader</small></h4>
  </div>
  <form ng-submit="action()" class="login-form" name="actionForm">
    <p class="errorMsg">{{errorMsg}}</p>
    <div class="control-group">
      <input type="email" class="login-field" id="login-name" placeholder="Email" ng-model="email" required>
      <label class="login-field-icon fui-user" for="login-name"></label>
    </div>
    <div class="control-group">
      <input type="password" class="login-field" id="login-pass" placeholder="Password" ng-model="password" required>
      <label class="login-field-icon fui-lock" for="login-pass"></label>
    </div>
    <input type="submit" value="{{text.action}}" ng-disabled="actionForm.$invalid" class="btn btn-primary btn-large btn-block">
    <a ng-click="changeAction()" class="actionChange">{{text.changeAction}}</a>
  </form>

</div>
